@use '../variables' as *;

/* ===== WRAPPER (Hero + Ticker one screen) ===== */

.hero-wrapper {
  min-height: calc(100vh - #{$header-height});
  @apply flex flex-col;
}


/* ===== HERO SECTION ===== */

.hero {
  @apply flex-1 flex items-center py-6 ;
  background: $color-background-primary;
  color: $color-text-primary;
  font-family: $font-family-sans-2;

  // border-color: rgba($color-background-secondary, 0.3);

  /* Container */
  &-container {
    @apply max-w-[1200px] mx-auto grid gap-8 md:gap-12 px-6;
    grid-template-columns: 1fr;

    @screen md {
      grid-template-columns: 1.3fr 1fr;
    }
  }

  /* Heading */
  h1 {
    @apply font-semibold leading-tight text-4xl md:text-6xl lg:text-7xl;
  }

  /* Description */
  &-desc {
    @apply text-base md:text-lg mb-6 max-w-[450px];
    color: $color-text-secondary;
  }

  /* Buttons */
  &-buttons {
    @apply flex gap-4 flex-wrap items-center;
  }
}

/* Vertical divider between columns */
.hero-left {
  @apply  md:border-r px-6 py-4;
  border-color: rgba($color-border-primary, 0.2);
}

.hero-right {
  @apply pl-6;
}

/* ===== BUTTONS ===== */
.btn-primary {
  @apply px-6 py-3 rounded-full font-semibold transition flex items-center gap-2;

  background: $color-button-primary;
  color: $color-text-inverse;

  &:hover {
    color: $brand-accent;
  }
}

// .btn-outline {
//   @apply px-6 py-3 rounded-full font-semibold transition border flex items-center gap-2;

//   border-color: $color-border-primary;
//   color: $color-text-primary;
//   background: transparent;

//   &:hover {
//     background: $color-background-secondary;
//   }
// }


/* ===== TICKER SECTION ===== */
.stock-ticker-section {
  @apply py-2 relative z-10;
}
